          {% extends 'base.html' %}
{% load static %}
{% block title %}<title>Warehouse Management System</title>{% endblock %}

{% block title_js %} {% endblock %}

{% block content %}
   <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Lot</li>
      </ol>

      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Lot Details</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
				  <th>Date</th>
                  <th>Lot #</th>
                  <th>Part Name</th>
                  <th>Commodity</th>
                  <th>Begs</th>
                  <th>Boxes</th>
                  <th>Remarks</th>
                </tr>
              </thead>
              <tfoot>
                <tr>
				  <th>Date</th>
                  <th>Lot #</th>
                  <th>Part Name</th>
                  <th>Commodity</th>
                  <th>Begs</th>
                  <th>Boxes</th>
                  <th>Remarks</th>
                </tr>
              </tfoot>
              <tbody>
              {% for item in stock %}
                <tr>
                  <td>{{ item.date }}</td>
                  <td>{{ item.lot }}</td>
                  <td>{{ item.Name}}</td>
                  <td>{{ item.commodity }}</td>
                  <td>{{ item.begs }}</td>
                  <td>{{ item.boxes }}</td>
                  <td>{{ item.remarks }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

    </div>
</div>
{% endblock %}


{% block js-foot %}

{% endblock %}


