{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Warehouse Management System</title>{% endblock %}

{% block title_js %} <script src="{% static "node_modules\jquery\dist\jquery.js"%}"> </script> {% endblock %}

{% block content %}
    <div class="container-fluid">

      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href=" ">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Balance</li>
      </ol>

         <!--Grid Table Starts -->
        <div class="form-group">
           <div class="card mb-3">

          <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> CUSTOMER: {{ party_name }}</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th>lot</th>
                    <th>Party Name</th>
                    <th>Commodity</th>
                    <th>begs</th>
                    <th>boxes</th>
                </tr>
              </thead>

              <tbody>
                  {% for party in party_data %}
                  <tr>
                    <th><a href="\stock\{{ party.lot }}\receipt\"> Print </a></th>
                    <th><a href="\stock\{{ party.lot }}\{{ party.Name }}\del\"> Delete </a></th>
                    <td><a href="\stock\{{ party.lot }}\edit\">{{ party.lot }}</a></td>
                      <td>{{ party.Name }}</td>
                      <td>{{ party.Commodity }}</td>
                      <td>{{ party.begs }}</td>
                      <td>{{ party.boxes }}</td>
                  </tr>
                  {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                    <th> </th>
                    <th>  </th>
                    <th>  </th>
                    <th>Total</th>
                    <th> </th>
                    <th>{{ beg }}</th>
                    <th>{{ box }}</th>
                </tr>
              </tfoot>
            </table>
          </div>
              </div>
          </div>




         <!-- Grid Table Ends -->
      </div>
    <!-- Content page Ends-->

    </div>
     </div>
{% endblock %}
{% block js-foot %}
<!-- Page level plugin JavaScript-->
    <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.js" %}"></script>
	<!-- Custom scripts for this page-->
    <script src="{% static "js/sb-admin-datatables.min.js" %}"></script>
{% endblock %}