<html>

<head>
    <title>
        HI how r u?
    </title>
    <script src="https://code.jquery.com/jquery-2.1.1.js" integrity="sha256-FA/0OOqu3gRvHOuidXnRbcmAWVcJORhz+pv3TX2+U6w=" crossorigin="anonymous"></script>

</head>

<body>
<form id="form_test" method="post">
{% csrf_token %}

    <input type="text" name="txthello" id="txthello" />

    <input type="Submit" id="btnsubmit">
</form>>
</body>
</html>



 item['GatePass'] = $("#txtgatepass").val();
			   item['date'] = $("#txtdate").val();
			   item['driver'] = $("#txtdriver").val();
			   item['eway'] = $("#txteway").val();
			   item['vehicle'] = $("#txtvehicle").val();
			   var obj = {};
			   $('#table_b').find('tr').each(function(){
				$td = $(this).find('td');
				obj["lot"] = $td.eq(0).html();
				obj["Party"] = $td.eq(1).html();
				obj["Commodity"] = $td.eq(2).html();
				obj["GSTIN"] = $td.eq(3).html();
				obj["Begs"] = $td.eq(4).html();
				obj["Boxes"] = $td.eq(5).html();
				json.push(obj);
				});
                item['table'] = obj