{% extends 'base.html' %}
{% load static %}
{% block title %}<title>Warehouse Management System</title>{% endblock %}

{% block title_js %} <script src="{% static "node_modules\jquery\dist\jquery.js"%}"> </script> {% endblock %}

{% block content %}
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href=" ">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">GatePass/Add</li>
      </ol>

     <form id="form_gatepass" method="post">
  {% csrf_token %}
        <div class="form-group">
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="txtgatepass">Gate Pass.</label>
                <input class="form-control" id="txtgatepass" name = "txtgatepass" type="text" value="{{ pass }}" aria-describedby="nameHelp" >
              </div>
              <div class="col-md-4">
                <label for="txtdate">Date</label>
                <input class="form-control" id="txtdate" type="text" value="{{ date }}" aria-describedby="nameHelp" >
              </div>
              <div class="col-md-4">
                <label for="txtdriver">Driver Name</label>
                <input class="form-control" id="txtdriver" type="text" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
            <div class="col-md-6">
                <label for="txteway">Eway Bill NO.</label>
                <input class="form-control" id="txteway" type="text" aria-describedby="nameHelp" placeholder="Please Enter Eway Bill No.">
              </div>
              <div class="col-md-6">
                <label for="txtvehicle">Vehicle No.</label>
                <input class="form-control" id="txtvehicle" type="text" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>
        </div>






         <!--Grid Table Starts -->
        <div class="form-group">
           <div class="card mb-3">


          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Lot</th>
                  <th>Party Name</th>
                  <th>Commodity</th>
                  <th>GSTIN</th>
                  <th>Begs</th>
                  <th>Boxes</th>
                </tr>
              </thead>
              <tfoot>

                <tr>
                  <th><input type="text" id="Lot"/></th>
                  <th><input type="text" id="Party" readonly="readonly" /></th>
                  <th><input type="text" id="Commodity" readonly="readonly" /></th>
                  <th><input type="text" id="GSTIN" readonly="readonly" /></th>
                  <th><input type="text" id="Begs"/></th>
                  <th><input type="text" id="Boxes" /></th>
                </tr>
              </tfoot>
              <tbody>

              </tbody>
            </table>
          </div>

      </div>
    </div>

         <!-- Grid Table Ends -->

 <div class="form-group">
            <div class="form-row">
            <div class="col-md-6"> </div>
              <div class="col-md-6">
                <input class="form-control" id="btnsubmit" type="Submit" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>

     </form>
      </div>
{% endblock %}

{% block js-foot %}

	<script src="{% static "custom_jquery/table_gatepass.js" %}"></script>

{% endblock %}