<!DOCTYPE html>
<html lang="en">

<head>
   {% load static %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block title %}<title>Warehouse Management System</title>{% endblock %}
  <!-- Bootstrap core CSS-->
  <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="{% static "vendor/font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-2.1.1.js" integrity="sha256-FA/0OOqu3gRvHOuidXnRbcmAWVcJORhz+pv3TX2+U6w=" crossorigin="anonymous"></script>


</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top" onLoad="document.getElementById('txtgatepass').focus();">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="#">Warehouse Management System</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
	  <!-- Dashboard Nav bar -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-dashboard"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <!-- Order Nav bar -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Orders">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Party</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="{%url 'admin:party_party_ledger_add' %}">Add</a>
            </li>
            <li>
		    <a href="{%url 'admin:party_party_ledger_changelist' %}">View</a>
            </li>
          </ul>
        </li>

		<!-- Catalog Nav bar -->

		{% load admin_urls %}
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Catalog">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseCatalog" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Commodity</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseCatalog">
            <li>
            <a href="{%url 'admin:commodity_commodity_add' %}">Add Commodity</a>
            </li>
            <li>
              <a href="{%url 'admin:commodity_commodity_changelist' %}">View Commodity</a>
            </li>
          </ul>
        </li>

		<!-- Shipment Nav bar -->
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Shipment">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseShipment" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Stocks</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseShipment">
            <li>
              <a href="{%url 'admin:stocks_stocks_add' %}">Add</a>
            </li>
            <li>
              <a href="/stock/view">View</a>
            </li>
          </ul>
        </li>
      </ul>

	  <!-- Side Navigation Bar ends -->

	  <!-- heade nav bar starts -->
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fa fa-fw fa-sign-out"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Navigation Ends -->

  {% block content %}
  <!-- Content page Starts-->
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href=" ">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">GatePass/Add</li>
      </ol>

     <form id="form_gatepass" method="post">
  {% csrf_token %}
        <div class="form-group">
         <div class="form-group">
            <div class="form-row">
              <div class="col-md-4">
                <label for="txtgatepass">Gate Pass.</label>
                <input class="form-control" id="txtgatepass" name = "txtgatepass" type="text" value="{{ pass }}" aria-describedby="nameHelp" >
              </div>
              <div class="col-md-4">
                <label for="txtdate">Date</label>
                <input class="form-control" id="txtdate" type="text" value="{{ date }}" aria-describedby="nameHelp" >
              </div>
              <div class="col-md-4">
                <label for="txtdriver">Driver Name</label>
                <input class="form-control" id="txtdriver" type="text" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>
         <div class="form-group">
            <div class="form-row">
            <div class="col-md-6">
                <label for="txteway">Eway Bill NO.</label>
                <input class="form-control" id="txteway" type="text" aria-describedby="nameHelp" placeholder="Please Enter Eway Bill No.">
              </div>
              <div class="col-md-6">
                <label for="txtvehicle">Vehicle No.</label>
                <input class="form-control" id="txtvehicle" type="text" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>
        </div>






         <!--Grid Table Starts -->
        <div class="form-group">
           <div class="card mb-3">


          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Lot</th>
                  <th>Party Name</th>
                  <th>Commodity</th>
                  <th>GSTIN</th>
                  <th>Begs</th>
                  <th>Boxes</th>
                </tr>
              </thead>
              <tfoot>

                <tr>
                  <th><input type="text" id="Lot"/></th>
                  <th><input type="text" id="Party" readonly="readonly" /></th>
                  <th><input type="text" id="Commodity" readonly="readonly" /></th>
                  <th><input type="text" id="GSTIN" readonly="readonly" /></th>
                  <th><input type="text" id="Begs"/></th>
                  <th><input type="text" id="Boxes" /></th>
                </tr>
              </tfoot>
              <tbody>

              </tbody>
            </table>
          </div>

      </div>
    </div>



         <!-- Grid Table Ends -->

 <div class="form-group">
            <div class="form-row">
            <div class="col-md-6">

                </div>
              <div class="col-md-6">
                <input class="form-control" id="btnsubmit" type="Submit" aria-describedby="nameHelp" >
              </div>
            </div>
          </div>

     </form>
      </div>
    <!-- Content page Ends-->

    </div>
	{% endblock %}

   <!--Footer Starts -->
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © 2018</small>
        </div>
      </div>
    </footer>
	<!-- Footer Ends -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>


	<!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="ModalLogout" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLogout">Want to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">

            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>

	<!-- Logout Modal Ends-->

	</div>

	<!-- Bootstrap core JavaScript-->
    <script src= "{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src= "{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>
    <!-- Page level plugin JavaScript-->
    <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin.min.js" %}"></script>
    <!-- Custom scripts for this page-->
    <script src="{% static "js/sb-admin-charts.min.js" %}"></script>

    <script src="{% static "custom_jquery/table_gatepass.js" %}"></script>

	{% block js-foot %}

	<!-- JS page specific-->

	{% endblock %}


</body>

</html>
